@page "/ballsimulation"

@using AvnCanvasHelper;
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using Infrastructure.Models.Physics;
@using System.Drawing;
@using PatSite.Server.Models;
@using Infrastructure.Constants;

<div>
    <label>Time Step</label>
    <input class="mx-3" type="range" min="0.1" max="10" step="0.1" @bind=PhysicalConstants.TimeStep @bind:event="oninput" />
    <span class="ms-4">@PhysicalConstants.TimeStep</span>
</div>

<div>
    <label>Min Speed</label>
    <input class="mx-3" type="range" min="1" max="50" step="1" @bind=PhysicalConstants.MinimumSpeed @bind:event="oninput" />
    <span class="ms-4">@PhysicalConstants.MinimumSpeed</span>
</div>
<div>
    <label>Max Speed</label>
    <input class="mx-3" type="range" min="5" max="100" step="1" @bind=PhysicalConstants.MaximumSpeed @bind:event="oninput" />
    <span class="ms-4">@PhysicalConstants.MaximumSpeed</span>
</div>

<div>
    <label>Wall Elasticity</label>
    <input class="mx-3" type="range" min="0" max="1" step="0.01" @bind=PhysicalConstants.WallElasticity @bind:event="oninput" />
    <span class="ms-4">@PhysicalConstants.WallElasticity</span>
</div>

<div>
    <label>Air Resistance</label>
    <input class="mx-3" type="range" min="0" max="0.0001" step="0.0000001" @bind=PhysicalConstants.AirResistance @bind:event="oninput" />
    <span class="ms-4">@PhysicalConstants.AirResistance</span>
</div>

<div>
    <label>Gravity?</label>
    <input class="mx-3" type="range" min="0" max="100" step="1" @bind=PhysicalConstants.GravitationalStrength @bind:event="oninput" />
    <span class="ms-4">@PhysicalConstants.GravitationalStrength</span>
</div>

<div>
    <button @onclick="ClearBalls">Clear All Balls</button>
    <button @onclick="AddBall">Add Random Ball</button>
</div>


<CanvasHelper @ref="CanvasHelper"
              CanvasResized="CanvasResized"
              RenderFrame="RenderFrame"
              MouseDown="MouseDown"
              MouseUp="MouseUp"
              MouseMove="MouseMove">

    <BECanvas @ref="CanvasReference"></BECanvas>

</CanvasHelper>

@code {
    private Canvas BallField = new Canvas();
    private Canvas2DContext canvasContext;
    private BECanvasComponent CanvasReference;
    private CanvasHelper CanvasHelper;
    private Size Size = new Size();
    private double FPS;
    private DateTime LastRender;

    public PhysicalConstantsModel? Model;

    private Random random = new();

    private List<int> TouchedBalls = new();
    private List<int> Touch_x = new();
    private List<int> Touch_y = new();
    private List<int> Touch_x_after = new();
    private List<int> Touch_y_after = new();

    private double DeltaT = 0.1;

    private double DeviceTiltX = 0;
    private double DeviceTiltY = 0.1;

    private int numberOfBalls = 10;

    protected override void OnInitialized()
    {
        Model ??= new();

        for (int i = 0; i < 10; i++) TouchedBalls.Add(-1);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Create the canvas and context
            canvasContext = await CanvasReference.CreateCanvas2DAsync();
            // Initialize the helper
            await CanvasHelper.Initialize();

            for (var i = 0; i < numberOfBalls; i++)
            {
                BallField.AddRandmBall();

                Touch_x.Add(0);
                Touch_x_after.Add(0);
                Touch_y.Add(0);
                Touch_y_after.Add(0);
            }
        }
    }

    private void DoAccelerometer(Acceleration a)
    {
        this.DeviceTiltX = -0.1 * a.X;
        this.DeviceTiltY = 0.1 * a.Y;
    }

    public async Task Render()
    {
        await UpdateBackground();

        await UpdateForeground();

        await ClearOutterBackground();
    }

    public async Task UpdateForeground()
    {
        // Physics for touched balls
        for (var i = 0; i < 10; i++)
        {
            if (TouchedBalls[i] >= 0)
            {
                Touch_x_after[i] = Touch_x[i];
                Touch_y_after[i] = Touch_y[i];
                if (BallField.Balls[i].Mode != 1)
                {
                    BallField.Balls[i].Velocity.X = -0.5 * (BallField.Balls[i].X - Touch_x_after[i]) / this.DeltaT / 10.0;
                    BallField.Balls[i].Velocity.Y = -0.5 * (BallField.Balls[i].Y - Touch_y_after[i]) / this.DeltaT / 10.0;
                }
                else
                {
                    BallField.Balls[i].X = Touch_x[i];
                    BallField.Balls[i].Y = Touch_y[i];
                }
            }
        }

        // Main physics
        for (int t = 0; t < PhysicalConstants.TimeStep; t++)
        {
            for (int i = 0; i < numberOfBalls; i++)
            {
                Ball currentBall = BallField.Balls[i];

                Ball previousBall = new Ball();
                Ball nextBall = new Ball();

                if (BallField.Balls.Count > 1 && i > 0) previousBall = BallField.Balls[i - 1];
                if (BallField.Balls.Count > 1 && i < BallField.Balls.Count - 1) nextBall = BallField.Balls[i + 1];

                if (currentBall.Mode != 1)
                {
                    currentBall.X += currentBall.Velocity.X * DeltaT;
                    currentBall.Y += currentBall.Velocity.Y * DeltaT;
                }
                else
                {
                    currentBall.Velocity.X = 0;
                    currentBall.Velocity.Y = 0;
                }

                double deltaX, deltaY;

                if (currentBall.Mode == 3 && i != 0)
                {
                    deltaX = currentBall.X - previousBall.X;
                    deltaY = currentBall.Y - previousBall.Y;
                    currentBall.Velocity.X -= 0.3 / currentBall.Radius * (deltaX - 2 * currentBall.Radius * deltaX / Math.Sqrt(deltaX * deltaX + deltaY * deltaY));
                    currentBall.Velocity.Y -= 0.3 / currentBall.Radius * (deltaY - 2 * currentBall.Radius * deltaY / Math.Sqrt(deltaX * deltaX + deltaY * deltaY));
                }
                if (currentBall.Mode != 1 && i != numberOfBalls - 1 && nextBall.Mode == 3)
                {
                    deltaX = currentBall.X - nextBall.X;
                    deltaY = currentBall.Y - nextBall.Y;
                    currentBall.Velocity.X -= 0.3 / currentBall.Radius * (deltaX - 2 * currentBall.Radius * deltaX / Math.Sqrt(deltaX * deltaX + deltaY * deltaY));
                    currentBall.Velocity.Y -= 0.3 / currentBall.Radius * (deltaY - 2 * currentBall.Radius * deltaY / Math.Sqrt(deltaX * deltaX + deltaY * deltaY));
                }

                currentBall.Velocity.X -= currentBall.Velocity.X * PhysicalConstants.AirResistance;
                currentBall.Velocity.Y -= currentBall.Velocity.Y * PhysicalConstants.AirResistance;

                if (currentBall.X > BallField.Width)
                {
                    currentBall.Velocity.X = -currentBall.Velocity.X * PhysicalConstants.WallElasticity;
                    currentBall.X = BallField.Width;
                }
                else if (currentBall.X < currentBall.Radius * 2)
                {
                    currentBall.Velocity.X = -currentBall.Velocity.X * PhysicalConstants.WallElasticity;
                    currentBall.X = currentBall.Radius * 2;
                }
                if (currentBall.Y > BallField.Height)
                {
                    currentBall.Velocity.Y = -currentBall.Velocity.Y * PhysicalConstants.WallElasticity;
                    currentBall.Y = BallField.Height;
                }
                else if (currentBall.Y < currentBall.Radius * 2)
                {
                    currentBall.Velocity.Y = -currentBall.Velocity.Y * PhysicalConstants.WallElasticity;
                    currentBall.Y = currentBall.Radius * 2;
                }
            }
            await CheckDistance();
        }

        // Drawing + Gravity
        for (var i = 0; i < numberOfBalls; i++)
        {
            Ball currentBall = BallField.Balls[i];

            if (currentBall.Mode != 1)
            {
                currentBall.Velocity.X += DeviceTiltX * PhysicalConstants.GravitationalStrength;
                currentBall.Velocity.Y += DeviceTiltY * PhysicalConstants.GravitationalStrength;
            }
            switch (currentBall.Mode)
            {
                case 0:
                    await DrawBall(currentBall);
                    break;
                case 1:
                    await DrawBall(currentBall);
                    break;
                case 2:
                    await DrawBall(currentBall);
                    //if (i != 0)
                    //{
                    //    ctx.strokeStyle = "black";
                    //    this.drawLine(this.x[i - 1], this.y[i - 1], this.x[i], this.y[i]);
                    //}
                    break;
                case 3:
                    //this.drawBall(this.x[i], this.y[i]);
                    //if (i != 0)
                    //{
                    //    ctx.strokeStyle = "gray";
                    //    this.drawLine(this.x[i - 1], this.y[i - 1], this.x[i], this.y[i]);
                    //}
                    break;
            }
        }
    }

    private async Task CheckDistance()
    {
        for (var i = 0; i < numberOfBalls - 1; i++)
        {
            for (var j = i + 1; j < numberOfBalls; j++)
            {
                Ball currentTopBall = BallField.Balls[i];
                Ball currentBottomBall = BallField.Balls[j];

                if ((Math.Sqrt((currentTopBall.X - currentBottomBall.X) * (currentTopBall.X - currentBottomBall.X) + (currentTopBall.Y - currentBottomBall.Y) * (currentTopBall.Y - currentBottomBall.Y)) < (currentTopBall.Radius + currentBottomBall.Radius) || (currentBottomBall.Mode == 2 && j == i + 1)))
                {
                    await CalculateVelocity(currentTopBall, currentBottomBall);
                }
            }
        }
    }

    private async Task CalculateVelocity(Ball currentTopBall, Ball currentBottomBall)
    {
        var deltaX = currentTopBall.X - currentBottomBall.X;
        var deltaY = currentTopBall.Y - currentBottomBall.Y;
        var deltaR = deltaX * deltaX + deltaY * deltaY;

        double V1x, V1y, V2x, V2y;

        if (deltaR != 0)
        {
            V1x = ((currentBottomBall.Velocity.X * deltaX + currentBottomBall.Velocity.Y * deltaY) * deltaX + (currentTopBall.Velocity.X * deltaY - currentTopBall.Velocity.Y * deltaX) * deltaY) / deltaR;
            V1y = ((currentBottomBall.Velocity.X * deltaX + currentBottomBall.Velocity.Y * deltaY) * deltaY - (currentTopBall.Velocity.X * deltaY - currentTopBall.Velocity.Y * deltaX) * deltaX) / deltaR;
            V2x = ((currentTopBall.Velocity.X * deltaX + currentTopBall.Velocity.Y * deltaY) * deltaX + (currentBottomBall.Velocity.X * deltaY - currentBottomBall.Velocity.Y * deltaX) * deltaY) / deltaR;
            V2y = ((currentTopBall.Velocity.X * deltaX + currentTopBall.Velocity.Y * deltaY) * deltaY - (currentBottomBall.Velocity.X * deltaY - currentBottomBall.Velocity.Y * deltaX) * deltaX) / deltaR;

            currentTopBall.Velocity.X = V1x;
            currentTopBall.Velocity.Y = V1y;
            currentBottomBall.Velocity.X = V2x;
            currentBottomBall.Velocity.Y = V2y;

            var sqrtDr = Math.Sqrt(deltaR);

            if (currentTopBall.Mode != 1)
            {
                currentTopBall.X += (2 * currentTopBall.Radius - sqrtDr) * (deltaX / sqrtDr) * 0.5;
                currentTopBall.Y += (2 * currentTopBall.Radius - sqrtDr) * (deltaY / sqrtDr) * 0.5;
            }
            if (currentBottomBall.Mode != 1)
            {
                currentBottomBall.X -= (2 * currentBottomBall.Radius - sqrtDr) * (deltaX / sqrtDr) * 0.5;
                currentBottomBall.Y -= (2 * currentBottomBall.Radius - sqrtDr) * (deltaY / sqrtDr) * 0.5;
            }
        }
    }

    private async Task DrawBall(Ball ball)
    {
        await this.canvasContext.BeginBatchAsync();

        await this.canvasContext.SetStrokeStyleAsync(ball.Color); // contour
        await this.canvasContext.BeginPathAsync();
        await this.canvasContext.ArcAsync(ball.X - ball.Radius, ball.Y - ball.Radius, ball.Radius, 0, 2 * Math.PI);
        await this.canvasContext.SetFillStyleAsync(ball.Color); // fill
        await this.canvasContext.FillAsync();
        await this.canvasContext.StrokeAsync();

        await this.canvasContext.EndBatchAsync();
    }

    public async Task RenderFrame(double fps)
    {
        FPS = fps;

        await UpdateBackground();

        try
        {
            await UpdateForeground();
        }
        catch (Exception e)
        {

        }

        await ClearOutterBackground();

    }

    private async Task UpdateBackground()
    {
        await this.canvasContext.BeginBatchAsync();

        await this.canvasContext.ClearRectAsync(0, 0, BallField.Width, BallField.Height);
        await this.canvasContext.SetFillStyleAsync("#003366");
        await this.canvasContext.FillRectAsync(0, 0, BallField.Width, BallField.Height);
        await this.canvasContext.SetFillStyleAsync("#FFFFFF");
        await this.canvasContext.SetFontAsync("16px consolas");
        await this.canvasContext.FillTextAsync($"FPS: {FPS:0.00}", BallField.Width - 100, 15);

        await this.canvasContext.EndBatchAsync();
    }

    private async Task ClearOutterBackground()
    {
        await this.canvasContext.BeginBatchAsync();

        await this.canvasContext.ClearRectAsync(BallField.Width, BallField.Height, -BallField.Width, 100);
        await this.canvasContext.ClearRectAsync(BallField.Width, BallField.Height, 100, -BallField.Height);
        await this.canvasContext.ClearRectAsync(BallField.Width, BallField.Height, 100, 100);

        await this.canvasContext.EndBatchAsync();
    }

    private async Task UpdateBalls()
    {
        foreach (Ball ball in BallField.Balls)
        {
            await this.canvasContext.BeginBatchAsync();

            await this.canvasContext.SetStrokeStyleAsync("#FF0000");
            await this.canvasContext.BeginPathAsync();
            await this.canvasContext.ArcAsync(ball.X, ball.Y, ball.Radius, 0, 2 * Math.PI, false);
            await this.canvasContext.SetFillStyleAsync(ball.Color);
            await this.canvasContext.FillAsync();
            await this.canvasContext.StrokeAsync();

            await this.canvasContext.EndBatchAsync();
        }
        CanvasResized(Size);
    }

    /// <summary>
    /// Called by CanvasHelper whenever the browser is resized.
    /// </summary>
    /// <param name="size"></param>
    public void CanvasResized(Size size)
    {
        Size = size;
        BallField.Resize(size.Width * 0.6, size.Height * 0.6);
    }

    // Handle mouse down events
    void MouseDown(CanvasMouseArgs args)
    {

    }

    // Handle mouse up events
    void MouseUp(CanvasMouseArgs args)
    {

    }

    // Handle mouse move events
    void MouseMove(CanvasMouseArgs args)
    {

    }

    private async Task ClearBalls()
    {
        BallField.Balls.Clear();
        Touch_x.Clear();
        Touch_x_after.Clear();
        Touch_y.Clear();
        Touch_y_after.Clear();

        numberOfBalls = 0;
    }

    private async Task AddBall()
    {
        BallField.AddRandmBall();

        Touch_x.Add(0);
        Touch_x_after.Add(0);
        Touch_y.Add(0);
        Touch_y_after.Add(0);

        numberOfBalls++;
    }
}